$icons-font-folder: './font' !default;
$icons-font-family: 'fi' !default;
$icons: (
        "align-center": "\f101",
        "align-justify": "\f102",
        "align-left": "\f103",
        "align-right": "\f104",
        "angle-down": "\f105",
        "angle-left": "\f106",
        "angle-right": "\f107",
        "angle-up": "\f108",
        "arrow-down": "\f109",
        "arrow-left": "\f10a",
        "arrow-right": "\f10b",
        "arrow-up": "\f10c",
        "at": "\f10d",
        "bank": "\f10e",
        "bell": "\f10f",
        "bookmark": "\f110",
        "briefcase": "\f111",
        "calculator": "\f112",
        "call": "\f113",
        "camera": "\f114",
        "caret-down": "\f115",
        "chat": "\f116",
        "check-circle": "\f117",
        "check-square": "\f118",
        "check": "\f119",
        "circle-o": "\f11a",
        "circle": "\f11b",
        "clock": "\f11c",
        "close-circle": "\f11d",
        "close-square": "\f11e",
        "close": "\f11f",
        "cloud-disabled": "\f120",
        "cloud-download": "\f121",
        "cloud-upload": "\f122",
        "cloud": "\f123",
        "coins": "\f124",
        "credit-card": "\f125",
        "cube": "\f126",
        "debit-card": "\f127",
        "delete": "\f128",
        "disc": "\f129",
        "dislike": "\f12a",
        "download": "\f12b",
        "droplet": "\f12c",
        "edit": "\f12d",
        "electric-car": "\f12e",
        "email": "\f12f",
        "external": "\f130",
        "facebook": "\f131",
        "fb": "\f132",
        "feather": "\f133",
        "file": "\f134",
        "flag": "\f135",
        "folder": "\f136",
        "grid": "\f137",
        "hand-coins": "\f138",
        "hand-money": "\f139",
        "heart-o": "\f13a",
        "heart": "\f13b",
        "hide": "\f13c",
        "home": "\f13d",
        "image": "\f13e",
        "info-circle": "\f13f",
        "instagram": "\f140",
        "layers": "\f141",
        "like": "\f142",
        "lock": "\f143",
        "map": "\f144",
        "mark": "\f145",
        "maximize": "\f146",
        "medal": "\f147",
        "menu": "\f148",
        "message": "\f149",
        "minus-circle": "\f14a",
        "minus-square": "\f14b",
        "monitor": "\f14c",
        "mortgage": "\f14d",
        "ok": "\f14e",
        "piggy-bank": "\f14f",
        "plus-circle": "\f150",
        "plus-square": "\f151",
        "plus": "\f152",
        "printer": "\f153",
        "refresh-reverse": "\f154",
        "refresh": "\f155",
        "rotate-left": "\f156",
        "rotate-right": "\f157",
        "scissors": "\f158",
        "search": "\f159",
        "settings": "\f15a",
        "star-o": "\f15b",
        "star": "\f15c",
        "tag": "\f15d",
        "target": "\f15e",
        "thunderbolt": "\f15f",
        "triangle": "\f160",
        "twitter": "\f161",
        "unlock": "\f162",
        "user": "\f163",
        "visualization": "\f164",
        "vk": "\f165",
        "warning-octagon": "\f166",
        "warning-triangle": "\f167",
        "watch": "\f168",
        "world": "\f169",
        "zoom-in": "\f16a",
        "zoom-out": "\f16b"
) !default;