$icons-font-folder: './font' !default;
$icons-font-family: 'fi' !default;
$icons: (
        call: "\e91d",
        menu: "\e91e",
        wallet: "\e91f",
        iv: "\e91c",
        new: "\e91a",
        top: "\e91b",
        certificate: "\e913",
        comment: "\e914",
        guide: "\e915",
        like: "\e916",
        label: "\e917",
        quotes-left: "\e918",
        quotes-right: "\e919",
        filter: "\e912",
        book: "\e911",
        bar-dot: "\e910",
        check: "\e90f",
        bar: "\e90e",
        times: "\e90d",
        heart: "\e90c",
        user-o: "\e901",
        angle-left: "\e902",
        angle-up: "\e903",
        angle-down: "\e904",
        angle-right: "\e905",
        minus: "\e906",
        plus: "\e907",
        search: "\e908",
        shopping-basket: "\e909",
        star: "\e90a",
        star-o: "\e90b",
        mark: "\e900",
        question-circle-o: "\e920",
) !default;